<navbar></navbar>
<h1 class="invisible">Strona notyfikacji {{ notification.notification.name }}</h1>
<div class="container Notification">
    <div class="row">
        <div class="col-md-3">
            <div class="page-header Notification-section-title">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                ZDJĘCIE
            </div>
            <div class="text-center">
                <a ng-click="notification.openLightboxModal($index)">
                <img ng-show="!notification.notification.images[0]" ng-src="assets/images/no-image.png" alt="Zdjęcie przedstawiające zgłoszone miejsce">
                <img ng-show="notification.notification.images[0]"
                     src="{{notification.notification.images[0].thumbnail}}" alt="Brak zdjęcia">
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="page-header Notification-section-title">
                <span class="	glyphicon glyphicon-flag"></span>
                OPIS ZGŁOSZENIA
            </div>
            <h2>{{ notification.notification.name }}</h2>
            <h3>{{notification.notification.description}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="page-header Notification-section-title">
                <span class="glyphicon glyphicon-th-list"></span>
                KATEGORIA ZGŁOSZENIA
            </div>
            <h3>{{notification.notification.category.name}}</h3>
        </div>
        <div class="col-md-6">
            <div class="page-header Notification-section-title">
                <span class="glyphicon glyphicon-map-marker"></span>
                PRZYBLIŻONY ADRES
            </div>
            <h3>{{notification.notification.address}}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="page-header Notification-section-title">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                OCENA UCIĄŻLIWOŚCI
            </div>
            <rating-notification model="notification.modelId"></rating-notification>
        </div>
        <div class="col-md-6">
            <div class="page-header Notification-section-title">
                <span class="glyphicon glyphicon-bell"></span>
                OSTRZEŻ ZNAJOMYCH
            </div>
            <a type="button"
               class="btn btn-primary btn-block"
               socialshare
               socialshare-provider="facebook"
               socialshare-text="{{ notification.notification.name }}"
               socialshare-url="{{notification.currentUrl}}">
                Udostępnij przez Facebook
            </a>
            <a type="button"
               class="btn btn-danger btn-block"
               socialshare
               socialshare-provider="google"
               socialshare-url="{{notification.currentUrl}}">
                Udostępnij przez Google+
            </a>
            <a type="button"
               class="btn btn-info btn-block"
               socialshare
               socialshare-provider="twitter"
               socialshare-text="{{ notification.notification.name }}"
               socialshare-hashtags="rzeszów, rzeszówbezbarier, mapabarier"
               socialshare-url="{{notification.currentUrl}}">
                Udostępnij przez Twitter
            </a>
        </div>
    </div>
    <br>
    <div class="page-header Notification-section-title">
        <span class="glyphicon glyphicon-globe"></span>
        LOKALIZACJA NA MAPIE
    </div>
    <ui-gmap-google-map
            center='notification.map.center'
            zoom='notification.map.zoom'>
        <ui-gmap-marker
                coords="notification.notification.coordinates"
                options="notification.notification.options"
                events="notification.notification.events"
                idkey="notification.notification.id ? notification.notification.id : 0">
        </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="page-header Notification-section-title">
        <span class="glyphicon glyphicon-alert"></span>
        BARIERY W POBLIŻU
    </div>
    <near-notification
            ng-if="notification.notification"
            latitude="notification.notification.coordinates.latitude"
            longitude="notification.notification.coordinates.longitude"
            limit="4">
    </near-notification>
    <div class="page-header Notification-section-title">
        <span class="glyphicon glyphicon-comment"></span>
        KOMENTARZE UŻYTKOWNIKÓW
    </div>
    <comment-notification model="notification.modelId"></comment-notification>

</div>

