.Notification {
    &-left-box {
        margin-top: 30px;
    }

    &-right-box {
        padding: 0;
    }
}

.angular-google-map-container {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
}
