<div class="row">
    <div ng-repeat="near in near.notifications | limitTo: 3 : 1">
        <div class="col-xs-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a ui-sref="notification({ id: near.notification.id })">{{near.notification.address}}</a>
                </div>
                <div class="panel-body">
                    <strong>{{near.notification.name}}</strong>
                    <br>
                    {{near.notification.description}}
                    <br><br>
                    <strong class="pull-right">W odległości: {{near.distance*1000 | limitTo: 3}} metrów.</strong>
                </div>
            </div>
        </div>
    </div>
</div>