<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Grupowanie "marki" i przycisku rozwijania mobilnego menu -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Rozwiń nawigację</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="dashboard">RzeszowBezBarier</a>
        </div>

        <div class="navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a ui-sref="dashboard" ui-sref-opts="{reload: true}"><span
                        class="glyphicon glyphicon-map-marker"></span> Mapa barier</a></li>
                <li><a ui-sref="create_notification"><span class="glyphicon glyphicon-plus"></span> Dodaj bariere</a></li>
                <li><a ui-sref="about"><span class="glyphicon glyphicon-heart"></span> Opis projektu</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="search-box">
                    <ui-select ng-model="navbar.notification.selected" theme="selectize"
                               on-select="navbar.selectNotification($item, $model)">
                        <ui-select-match placeholder="Wyszukaj lub wybierz z listy...">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="notification in navbar.notifications track by $index"
                                           refresh="navbar.refreshNotifications($select.search)"
                                           refresh-delay="0">
                            <b><div ng-bind-html="notification.name"></div></b>
                            Liczba potwierdzeń: <small ng-bind-html="notification.rating"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="navbar.currentUser"><a ui-sref="profile">Profil</a></li>
                <li ng-if="navbar.currentUser"><a ng-click="navbar.logout()">Wyloguj</a></li>
                <li ng-if="!navbar.currentUser"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                    Zaloguj</a></li>
                <li ng-if="!navbar.currentUser"><a ui-sref="register"><span class="glyphicon glyphicon-th"></span>
                    Zarejestruj</a></li>
            </ul>
        </div>
    </div>
</nav>
