<navbar></navbar>
<h1 class="invisible">Strona profilu</h1>
<div class="container Profile">
    <div ng-messages="profile.errorResponse" ng-if="profile.errorResponse" >
        <div class="alert alert-danger">{{profile.errorResponse}}</div>
    </div>

    <div ng-messages="profile.successResponse" ng-if="profile.successResponse">
        <div class="alert alert-success">{{profile.successResponse}}</div>
    </div>
    <form name="updateForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="page-header Profile-section-title">
                        <span class="glyphicon glyphicon-user"></span>
                        IMIE
                    </div>
                    <label for="firstName" class="invisible">Imie</label>
                    <input type="text"
                           class="form-control"
                           id="firstName"
                           ng-model="profile.currentUser.first_name"
                    required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="page-header Profile-section-title">
                        <span class="glyphicon glyphicon-user"></span>
                        NAZWISKO
                    </div>
                    <label for="lastName" class="invisible">Nazwisko</label>
                    <input type="text"
                           class="form-control"
                           id="lastName"
                           ng-model="profile.currentUser.last_name"
                    required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="page-header Profile-section-title">
                        <span class="glyphicon glyphicon-envelope"></span>
                        ADRES EMAIL
                    </div>
                    <label for="email" class="invisible">Adres email</label>
                    <input type="email"
                           class="form-control"
                           id="email"
                           ng-model="profile.currentUser.email"
                           required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="page-header Profile-section-title">
                        <span class="glyphicon glyphicon-send"></span>
                        NOTIFIKACJE EMAIL
                    </div>
                    <div class="Profile-section-notification">
                        <label>
                            <input type="checkbox" ng-model="profile.currentUser.email_notification">
                            Chcę otrzymywać notyfikacje o nowych zgłoszeniach na adres e-mail: <strong>{{profile.currentUser.email}}</strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <button
                ng-click="profile.update()"
                type="submit"
                ng-disabled="updateForm.$invalid"
                class="btn btn-success btn-block">Zapisz zmiany</button>
        <br><br>
    </form>
</div>
