<div ng-show="comment.currentUser">
    <div class="input-group">
        <input type="text" ng-model="comment.comment.content" class="form-control input-lg chat-input"
               placeholder="Wpisz tutaj treść komentarza..."/>
        <span class="input-group-btn" ng-click="comment.addComment()">
            <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-comment"></span> Dodaj
                komentarz
            </button>
        </span>
    </div>
    <br>
</div>
<div ng-hide="comment.comments.length" class="alert alert-info">
    <strong>Brak komentarzy dotyczących tego zgłoszenia...</strong>
</div>
<div class="row">
    <div class="comment" ng-repeat="comment in comment.comments">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-2">
                    <img class="img-responsive user-photo" gravatar-src="comment.user.email">
                </div>
                <div class="col-xs-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>
                                {{comment.user.first_name}} {{comment.user.last_name}}
                            </strong>
                            <span class="text-muted">dodano dnia {{comment.created_at}}</span>
                        </div>
                        <div class="panel-body">
                            {{comment.content}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
