<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Rozwiń nawigację</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="about"><b>RzeszówBezBarier</b></a>
        </div>
        <div class="collapse navbar-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li><a ui-sref="dashboard" ui-sref-opts="{reload: true}"><span
                        class="glyphicon glyphicon-map-marker"></span> <strong>MAPA BARIER</strong></a></li>
                <li><a ui-sref="list"><span class="glyphicon glyphicon-list"></span> <strong>LISTA BARIER</strong></a></li>
                <li><a ui-sref="create_notification"><span class="glyphicon glyphicon-plus"></span> <strong>DODAJ BARIERE</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li dropdown ng-if="navbar.currentUser" class="hide-mobile">
                    <a href="#" dropdown-toggle>
                        <span class="glyphicon glyphicon-bell"></span>
                        <span class="label label-info label-notify">{{navbar.alerts.length}}</span>
                        <strong>ALERTY</strong>
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu alerts" role="menu" aria-labelledby="dLabel">
                        <div class="alerts-wrapper text-center" ng-if="navbar.alerts.length == 0">
                            <h4>Brak nowych alertów!</h4>
                        </div>

                        <div class="alerts-wrapper" ng-if="navbar.alerts.length != 0">
                            <div class="content" ng-repeat="alert in navbar.alerts">
                                <div ui-sref="notification({id: alert.notification.id})" class="alert-item">
                                    <h4 class="item-title">
                                        <strong>{{alert.message}}</strong><br>
                                        {{alert.notification.name}}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <li ng-if="navbar.currentUser">
                    <a ui-sref="profile"><span class="glyphicon glyphicon-user"></span> <strong>PROFIL</strong></a>
                </li>
                <li ng-if="navbar.currentUser">
                    <a ng-click="navbar.logout()"><span class="glyphicon glyphicon-log-out"></span> <strong>WYLOGUJ</strong></a>
                </li>
                <li ng-if="!navbar.currentUser">
                    <a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> <strong>ZALOGUJ</strong></a>
                </li>
                <li ng-if="!navbar.currentUser">
                    <a ui-sref="register"><span class="glyphicon glyphicon-th"></span> <strong>ZAREJESTRUJ</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
