<navbar></navbar>
<div class="login-box">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Zaloguj się</h3>
        </div>
        <div class="panel-body">

          <div ng-messages="login.errorResponse" ng-if="login.errorResponse" >
            <div class="alert alert-danger">{{login.errorResponse}}</div>
          </div>

          <div ng-messages="login.successResponse" ng-if="login.successResponse">
            <div class="alert alert-success">{{login.successResponse}}</div>
          </div>

          <form role="form">
              <div class="form-group">
                <input ng-model="login.user.username" class="form-control" placeholder="E-mail" name="email" type="text" autofocus>
              </div>
              <div class="form-group">
                <input ng-model="login.user.password" class="form-control" placeholder="Hasło" name="password" type="password" value="">
              </div>
              <!-- Change this to a button or input when using this as a form -->
            <button class="btn btn-lg btn-success btn-block" ng-click="login.signIn()" ng-disabled="!login.validateInputs()">Zaloguj</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
