<div class="row RatingNotification">
    <div class="col-sm-5 text-center">
        <div class="RatingNotification-rating-num">{{rating.rating.average | limitTo: 3}}</div>
        <div class="rating">
            <span ng-class="rating.rating.average >=1 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
            <span ng-class="rating.rating.average >=2 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
            <span ng-class="rating.rating.average >=3 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
            <span ng-class="rating.rating.average >=4 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
            <span ng-class="rating.rating.average >=5 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
        </div>
        <div>
            Oceniło {{rating.rating.count}} użytkowników
        </div>
    </div>
    <div ng-show="rating.currentUser" class="col-sm-7 text-center">
        <div class="RatingNotification-rating-string" ng-show="rating.hover == 0">Oceń bariere</div>
        <div class="RatingNotification-rating-string" ng-show="rating.hover == 1">Nie uciążliwa</div>
        <div class="RatingNotification-rating-string" ng-show="rating.hover == 2">Trochę uciążliwa</div>
        <div class="RatingNotification-rating-string" ng-show="rating.hover == 3">Średnio uciążliwa</div>
        <div class="RatingNotification-rating-string" ng-show="rating.hover == 4">Bardzo uciążliwa</div>
        <div class="RatingNotification-rating-string" ng-show="rating.hover == 5">Nie do ominięcia</div>
        <div class="RatingNotification-rating-stars">
            <span
                    ng-click="rating.rate(1)"
                    ng-mouseenter="rating.hover = 1"
                    ng-mouseleave="rating.hover = 0"
                    ng-class="rating.hover >=1 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'">
            </span>
            <span
                    ng-click="rating.rate(2)"
                    ng-mouseenter="rating.hover = 2"
                    ng-mouseleave="rating.hover = 0"
                    ng-class="rating.hover >=2 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'">
            </span>
            <span
                    ng-click="rating.rate(3)"
                    ng-mouseenter="rating.hover = 3"
                    ng-mouseleave="rating.hover = 0"
                    ng-class="rating.hover >=3 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'">
            </span>
            <span
                    ng-click="rating.rate(4)"
                    ng-mouseenter="rating.hover = 4"
                    ng-mouseleave="rating.hover = 0"
                    ng-class="rating.hover >=4 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'">
            </span>
            <span
                    ng-click="rating.rate(5)"
                    ng-mouseenter="rating.hover = 5"
                    ng-mouseleave="rating.hover = 0"
                    ng-class="rating.hover >=5 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'">
            </span>

        </div>
    </div>
</div>