<div class="row">
    <div ng-repeat="near in near.notifications | limitTo: 3 : 1">
        <div class="col-xs-4 col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                        {{near.address}}
                </div>
                <div class="panel-body">
                    <strong>{{near.name}}</strong>
                    <br>
                    {{near.description}}
                    <br> <br>
                    <a ui-sref="notification({ id: near.id })"  class="pull-right">Czytaj więcej...</a>
                </div>
            </div>
        </div>
    </div>
</div>