<navbar></navbar>
<h1 class="invisible">Mapa barier</h1>
<div class="container-fluid Dashboard">
<div class="row">
    <div class="col-sm-8 col-sm-push-4 Dashboard-right-box">
        <ui-gmap-google-map
                center='dashboard.map.center'
                zoom='dashboard.map.zoom'>
            <ui-gmap-window
                    show="dashboard.map.window.show"
                    coords="dashboard.map.window.model.coordinates"
                    options="dashboard.map.window.options"
                    closeClick="dashboard.map.window.closeClick()"
                    templateUrl="'app/components/directives/markerWindow/markerWindow.html'"
                    templateParameter="dashboard.map.window">
            </ui-gmap-window>
            <ui-gmap-markers
                    ng-if="dashboard.notifications"
                    models="dashboard.notifications"
                    idkey="dashboard.notifications.id"
                    options="dashboard.markerOptions"
                    coords="'coordinates'"
                    fit="true"
                    events="dashboard.map.markersEvents">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>

    <div class="col-sm-4 col-sm-pull-8 Dashboard-left-box">
        <div class="Dashboard-left-box-items" ng-if="dashboard.categoryList">
            <div class="Dashboard-left-box-items-item" ng-repeat="category in dashboard.categories" ng-click="dashboard.selectCategory(category.id)">
                <div class="Dashboard-left-box-items-item-category-name">{{ category.name }}</div>
                <div class="Dashboard-left-box-items-item-category-count">Liczba notyfikacji: {{ category.notification_count }}</div>
            </div>
        </div>
        <div class="Dashboard-left-box-items" ng-if="dashboard.notificationList">
            <div class="Dashboard-left-box-items-item" ng-click="dashboard.backToCategory()">
                <div class="Dashboard-left-box-items-back-to-category">
                    <span class="glyphicon glyphicon-chevron-left"></span> WRÓĆ DO KATRGORII
                </div>
            </div>
            <div class="Dashboard-left-box-items-item" ng-repeat="notification in dashboard.notifications" ng-click="dashboard.selectNotification(notification.id)">
                <div class="Dashboard-left-box-items-item-category-name">{{ notification.name }}</div>
                <div class="Dashboard-left-box-items-item-category-count">{{ notification.address }}</div>
            </div>
        </div>
    </div>

</div>
</div>

